<div>
    <h2 mat-dialog-title>Confirm Booking</h2>
    <hr>
    <mat-dialog-content>
      <p style="font-size:20px; color:darkgreen;">Booking confirmed successfully! Keep booking with us! :)</p>
      <br>
      <br>
    </mat-dialog-content>
    <hr>
    <mat-dialog-actions>
      <button mat-raised-button class="btn btn-md btn-primary" (click)="onCloseOK()" style="float:left;">OK</button>&nbsp;
      <button mat-raised-button class="btn btn-md btn-primary" (click)="onCloseFeedback()" style="float:right;">FEEDBACK</button>
    </mat-dialog-actions>
  </div>